$dark-grey: #3F3540;
$light-grey: #7B7179;
$mid-grey: #594B58;
$white: #fff;
$beige: #F8F5F0;
$red: #b62638;
$blue: #424d98;
$yellow: #c8ac3d;

$mellow-red: lighten(#b62638, 40%);
$mellow-blue: lighten(#424d98, 40%);
$mellow-yellow: lighten(#c8ac3d, 40%);