@import "../../styles/core";

.lost-item-person {
	height: 200px;
	position: relative;
	padding: 20px;
	display: flex;

	&.adrestian {
		.rest-of-card {
			background: $mellow-red;
		}
	}

	&.church {
	}

	&.faerghus {
		.rest-of-card {
			background: $mellow-blue;
		}
	}

	&.leicester {
		.rest-of-card {
			background: $mellow-yellow;
		}
	}
}

.portrait-wrapper {
	width: 160px;
	margin-left: -60px;
}

.portrait {
	height: 160px;
	width: 120px;
	transform: rotate(45deg);
	background: $mid-grey;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 6px solid $light-grey;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: 2px solid $dark-grey;
	}
}

.image-wrapper-wrapper {
	position: absolute;
	bottom: 6px;
	right: 6px;
	height: 300px;
	width: 300px;
	overflow: hidden;
}

.image-wrapper {
	height: 160px;
	width: 120px;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: rotate(-45deg);

	> img {
		height: 150%;
		width: 150%;
		position: relative;
		object-fit: contain;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 5px;
		//background: blue;
	}
}

.rest-of-card {
	background: $beige;
	flex-grow: 1;
	position: relative;
	margin-left: 20px;
	height: 100%;
	z-index: 1;
	border-top-left-radius: 120px;
	border-bottom-left-radius: 120px;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 6px solid $light-grey;
		border-top-left-radius: 120px;
		border-bottom-left-radius: 120px;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: 2px solid $dark-grey;
		border-top-left-radius: 120px;
		border-bottom-left-radius: 120px;
	}
}

.name {
	position: absolute;
	top: -20px;
	left: -40px;
	border-radius: 50px;
	background: $mid-grey;
	width: 500px;
	text-align: center;
	color: $white;
	line-height: 50px;
	font-size: 24px;
}

.card-content {
	margin-top: 30px;
	height: calc(100% - 30px);
	width: calc(100% - 100px);
	padding: 20px;
	border-top-left-radius: 65px;
	border-bottom-left-radius: 65px;
}

.item-button {
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	align-items: center;
	border-radius: 4px;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&:hover {
		background: rgba($red, 0.1);

		.x {
			display: block;
		}
	}
}

.x {
	position: relative;
	display: none;
	margin-left: 20px;
	height: 16px;
	width: 16px;
	min-width: 16px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 6px;
		height: 16px;
		width: 5px;
		background: $red;
		transform: rotate(-45deg);
		transform-origin: center;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 5px;
		height: 16px;
		width: 5px;
		background: $red;
		transform: rotate(45deg);
		transform-origin: center;
	}
}

@media (max-width: 750px) {
	.lost-item-person {
		padding: 20px 0;
		height: auto;
	}

	.name {
		width: auto;
		padding: 0 20px;
		left: 0;
		font-size: 16px;
		line-height: 40px;
	}

	.portrait-wrapper {
		width: 80px;
		margin-left: -30px;
	}

	.portrait {
		height: 80px;
		width: 60px;
	}

	.image-wrapper {
		height: 80px;
		width: 60px;
	}

	.card-content {
		margin-top: 10px;
	}
}