@import "../../styles/core";

.lost-item-person {
	height: 200px;
	position: relative;
	padding: 20px;
	display: flex;

	&.adrestian {
		.rest-of-card {
			background: $mellow-red;
		}
	}
	&.church {
	}
	&.faerghus {
		.rest-of-card {
			background: $mellow-blue;
		}
	}
	&.leicester {
		.rest-of-card {
			background: $mellow-yellow;
		}
	}
}

.portrait-wrapper {
	width: 160px;
	margin-left: -60px;
}

.portrait {
	height: 160px;
	width: 120px;
	//overflow: hidden;
	transform: rotate(45deg);
	background: $mid-grey;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 6px solid $light-grey;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: 2px solid $dark-grey;
	}
}

.image-wrapper-wrapper {
	position: absolute;
	bottom: 6px;
	right: 6px;
	height: 300px;
	width: 300px;
	overflow: hidden;
}

.image-wrapper {
	height: 160px;
	width: 120px;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: rotate(-45deg);
	> img {
		height: 150%;
		width: 150%;
		position: relative;
		object-fit: contain;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 5px;
		//background: blue;
	}
}

.rest-of-card {
	background: $beige;
	flex-grow: 1;
	position: relative;
	margin-left: 20px;
	height: 100%;
	z-index: 1;
	border-top-left-radius: 120px;
	border-bottom-left-radius: 120px;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 6px solid $light-grey;
		border-top-left-radius: 120px;
		border-bottom-left-radius: 120px;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: 2px solid $dark-grey;
		border-top-left-radius: 120px;
		border-bottom-left-radius: 120px;
	}
}

.name {
	position: absolute;
	top: -20px;
	left: -40px;
	border-radius: 50px;
	background: $mid-grey;
	width: 500px;
	text-align: center;
	color: $white;
	line-height: 50px;
	font-size: 24px;
}

.card-content {
	margin-top: 30px;
	height: calc(100% - 30px);
	width: calc(100% - 100px);
	padding: 20px;
	//background: red;
	border-top-left-radius: 65px;
	border-bottom-left-radius: 65px;
}

.item-button {
	background: transparent;
	border: 0;
	display: block;
	cursor: pointer;
	&:not(:last-child){
		margin-bottom: 10px;
	}

	&:hover {
		background: rgba($red, 0.1);
	}
}

.x {}

